<div class="info">
    <div>
        <p>{{name}}</p>
        {{#if feedbacks}}
        {{#each feedbacks}}
        <p>Average Rating: {{avg_camp_rating}}/10</p>
        {{/each}}
        {{else}}
        <p>Average Rating: Not Applicable</p>
        {{/if}}
    </div>
    <button type="submit" class="review-btn border paragraph">
        <a href="/bootcamp/{{id}}" class="white">See All Reviews</a>
    </button>
</div>