<div class="info">
    <div>
        <p>{{name}}</p>
        <p>Average Rating: {{"feedbacks.avg_instructor_rating"}}/10</p>
    </div>
    <button type="submit" class="review-btn border paragraph">
        <a href="/instructor/{{id}}" class="white">See All Reviews</a>
    </button>
</div>