<div class="main-b shadow heading-2 all-background border">
    <h3>All Instructors</h3>
</div>

<a href="/create-instructor">CREATE INSTRUCTOR</a>

<div class="main-b shadow heading-2 all-background border">
    <ul>
        {{#each instructors as |instructor|}}
        <li>
            {{> instructor instructor}}
        </li>
        {{/each}}
    </ul>
</div>