<div class="main-b shadow heading-2 all-background border">
    <h3>All Bootcamps</h3>
</div>

<div class="main-b shadow heading-2 all-background border">
    <ul>
        {{#each bootcamps as |bootcamp|}}
        <li>
            {{> bootcamp bootcamp}}
        </li>
        {{/each}}
    </ul>
    <div class="create">
        <button class="button paragraph">
            <a class="white" href="/create-bootcamp">Add A Bootcamp</a>
        </button>
    </div>
</div>
