<div class="main-b shadow heading-2 all-background border">
    <h3>All Bootcamps</h3>
</div>

<a href="/create-bootcamp">Create Bootcamp</a>

<div class="main-b shadow heading-2 all-background border">
    <ul>
        {{#each bootcamps as |bootcamp|}}
        <li>
            {{> bootcamp bootcamp}}
        </li>
        {{/each}}
    </ul>
</div>
