<div class="main-b shadow heading-2 all-background border">
    <h3>All Bootcamps</h3>
</div>

<button type="submit" id="add-bootcamp">ADD BOOTCAMP</button>
<form class="new-bootcamp" style="display: none;">
    <div>
        <label for="name">Name of Bootcamp:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <button type="button" id="create-bootcamp">CREATE BOOTCAMP</button>
    </div>
</form>

<div class="main-b shadow heading-2 all-background border">
    <ul>
        {{#each bootcamps as |bootcamp|}}
        <li>
            {{> bootcamp bootcamp}}
        </li>
        {{/each}}
    </ul>
</div>

<script src="/javascript/add-bootcamp.js"></script>