<div class="main-b shadow heading-2 all-background border">
    <h3>All Instructors</h3>
</div>

<div class="main-b shadow heading-2 all-background border">
    <ul>
        {{#each instructors as |instructor|}}
        <li>
            {{> instructor instructor}}
        </li>
        {{/each}}
    </ul>
    {{#if loggedIn}}
    <div class="create">
        <button class="button paragraph">
            <a class="white" href="/create-instructor">Add An Instructor</a>
        </button>
    </div>
    {{/if}}
</div>