<div class="main-b shadow heading-2 all-background border">
    <h3>Add & Review An Instructor</h3>
</div>

<form class="add-feedback all-background border shadow main-b paragraph">
    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" class="border main-b paragraph" />
    </div>
    <div>
        <label for="rating">Rating:</label>
        <input id="rating" type="number" class="border main-b paragraph" />
    </div>
    <div>
        <label for="review">Review:</label>
        <input id="review" class="border main-b paragraph" />
    </div>
    <div>
        <label for="bootcamp">Bootcamp:</label>
        <select class="border paragraph main-b" id="bootcamp-list" size=`{{allBootcamps.length}}`>
            {{#each allBootcamps}}
            <option class="subtext" value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <p id="user_id">{{user_id}}</p>
    </div>
    <div>
        <button type="submit" class="white border subtext button">Submit</button>
    </div>
</form>

<script src="/javascript/add-instructor.js"></script>