<div class="dashboard">
    <h1>Your Reviews:</h1>
    <div class="user-feedback">
        {{#each feedback as |feedback|}}
        |
        {{> feedback feedback}}
        |
        {{/each}}
    </div>
</div>
