<section>
    <h3>Edit Review</h3>
</section>

<section>
    <input value={{feedback.rating}} />
    <input value={{feedback.review_text}} />
    <button type="submit">Save Changes</button>
    <button type="button" class="delete-post-btn">Delete Review</button>
</section>

<script src="/javascript/edit.js"></script>
<script src="/javascript/delete.js"></script>