<section>
    <h3>Edit Review</h3>
</section>

<form class="edit-feedback">
    <input value={{feedback.rating}} id="rating" type="number" />
    <input value={{feedback.review_text}} id="review" />
    <button type="submit">Save Changes</button>
    <button type="button" class="delete-feedback">Delete Review</button>
</form>

<script src="/javascript/edit.js"></script>
<script src="/javascript/delete.js"></script>