{{!-- <div class="bootcamp-reviews">
    {{#each reviews as |bootcamp-review|}}
    |
    {{> bootcamp-review bootcamp-review}}
    |
    {{/each}}
</div>
<div class="instructor-reviews">
    {{#each reviews as |instructor-review|}}
    |
    {{> instructor-review instructor-review}}
    |
    {{/each}}
</div> --}}

<h3>Top Bootcamps</h3>
<ol>
    {{#each topBootcamps}}
    {{#if bootcamp_id}}
    <li>
        <p>{{"bootcamp.name"}} - Avg Rating: {{avg_camp_rating}}</p>
    </li>
    {{/if}}
    {{/each}}
</ol>

<h3>Top Instructors</h3>
<ol>
    {{#each topInstructors}}
    {{#if instructor_id}}
    <li>
        <p>{{"instructor.name"}} - Avg Rating: {{avg_instructor_rating}}</p>
    </li>
    {{/if}}
    {{/each}}
</ol>
