<section class="login-section">
    <form class="login-form shadow">
        <h3 class="heading-1 main-b">Log In</h3>
        <div>
            <label for="email-login" class="paragraph main-b">Email:</label>
            <input type="text" id="email-login" class="paragraph main-b" />
        </div>
        <div>
            <label for="password-login" class="paragraph main-b">Password:</label>
            <input type="password" id="password-login" class="paragraph main-b" />
        </div>
        <div class="btn-div">
            <button type="submit" class="shadow paragraph white">Start Reviewing!</button>
        </div>
    </form>

    <form class="signup-form shadow">
        <h3 class="heading-1 main-b">Sign Up</h3>
        <div>
            <label for="username-signup" class="paragraph main-b">Username:</label>
            <input type="text" id="username-signup" class="paragraph main-b" />
        </div>
        <div>
            <label for="email-signup" class="paragraph main-b">Email:</label>
            <input type="text" id="email-signup" class="paragraph main-b" />
        </div>
        <div>
            <label for="password-signup" class="paragraph main-b">Password:</label>
            <input type="password" id="password-signup" class="paragraph main-b" />
        </div>
        <div>
            <button type="submit" class="shadow paragraph white">Start Reviewing!</button>
        </div>
    </form>
</section>

<script src="/javascript/login.js"></script>