/* COLOR SCHEME */
:root {
    --hover-pink: #f052ff;
    --main-purple: #af4ae8;
    --accent-purple: #995fff;
    --main-blue: #594ae8;
    --accent-blue: #5270ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: neue-kabel, sans-serif;
    font-style: normal;
}

/* FONT STYLES */
.title {
    font-size: 4.1vw;
    font-weight: 700;
}

.heading-1 {
    font-size: 3.645vw;
    font-weight: 600;
}

.heading-2 {
    font-size: 3vw;
    font-weight: 600;
}

.paragraph {
    font-size: 2.3vw;
    font-weight: 400;
}

.subtext {
    font-size: 1.5vw;
}

/* COLORS */
.main-b {
    color: var(--main-blue);
}

.main-p {
    color: var(--main-purple)
}

.accent-p {
    color: var(--accent-purple)
}

.accent-b {
    color: var(--accent-blue)
}

.white {
    color: white;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* GENERAL STYLING */
body {
    background-image: linear-gradient(180deg, var(--main-blue), var(--main-purple));
    background-repeat: no-repeat;
    height: 100%;
}

button {
    border: none;
    transition: .5s ease;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

header nav {
    align-self: center;
}

footer {
    margin-top: 8vw;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

input, select {
    border: .3vw solid var(--main-blue);
    padding: 0 1vw;
    width: 100%;
}

.border {
    border-radius: .5vw;
}

.button {
    color: white;
    background-color: var(--accent-purple);
    border-radius: .5vw;
    padding: .3vw 1.2vw;
    transition: .5s ease;
}

.button:hover {
    background-color: var(--hover-pink);
}

/* HOMEPAGE */
main {
    z-index: -1;
}

.btn-logout {
    background-color: white;
    padding-left: 1vw
}

.hero-section {
    position: sticky;
    background-image: url("/imgs/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.overlay div {
    width: 70%;
    background-image: linear-gradient(120deg, var(--main-blue), var(--main-purple));
    padding: 50px 20px;
    text-align: center;
    margin: 6vw 4vw;
}

.hero-btn-div {
    display: flex;
    justify-content: space-around;
    margin: 3vw 5vw;
}

.hero-btn-div button {
    background-color: white;
    padding: 50px 60px;
}

.hero-btn-div button:hover {
    color: var(--hover-pink);
}

.top-ten {
    display: flex;
    justify-content: space-evenly;
}

.top-ten article {
    background-color: white;
    width: 35%;
    padding: 2vw 3vw;
    margin-top: 5vw;
    margin-bottom: 8vw;
}

.top-ten article ol {
    margin-top: 25px;
    margin-left: 30px;
}

.top-ten article li, .top-ten article li a {
    color: var(--main-blue);
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 20px;
    transition: .5s ease;
}

.top-ten article li a:hover {
    color: var(--hover-pink);
}

.bootcamp-info {
    font-size: 1vw;
}

/* LOGIN PAGE */
.login-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.login-form, .signup-form {
    background-color: white;
    width: 38%;
    padding: 2vw 3.3vw;
}

.login-form div, .signup-form div {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

.login-form input, .signup-form input {
    border: .3vw solid var(--main-blue);
    padding: 3px 10px;
}
.login-form button, .signup-form button {
    background-color: var(--accent-purple);
    width: 80%;
    padding: 10px 20px;
    align-self: center;
}

/* ALL BOOTCAMPS/INSTRUCTORS */
.all-background {
    background-color: white;
    margin: 2vw 5.5vw;
    padding: 2vw 4vw;
}

.all-background h3 {
    text-align: center;
}

.all-background li {
    list-style: none;
    padding-bottom: 2vw;
    margin: 1vw 2vw;
    border-bottom: .3vw solid var(--accent-purple);
}

.all-background li .info {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo i {
    align-self: center;
}

.logo h3 {
    margin-right: 3vw;
    margin-left: 3vw;
}

.review-btn {
    background-color: var(--accent-purple);
    padding: 10px 20px;
    height: 50%;
    align-self: end;
    transition: .5s ease;
}

.review-btn:hover {
    background-color: var(--hover-pink);
}

.create {
    display: flex;
    justify-content: center;
}

/* DASHBOARD */
.dash-feedback {
    display: flex;
    flex-direction: column;
}

.feedback-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: .3vw solid var(--main-purple);
    margin-top: 1.5vw;
    padding-top: 1vw;
}

.feedback-meta .rating {
    border: .3vw solid var(--main-purple);
    align-self: end;
    padding: .5vw 3vw;
}

.dash-feedback button {
    background-color: var(--accent-purple);
    padding: .5vw 1vw;
    transition: .5s ease;
    margin-top: 1vw;
}

.dash-feedback button:hover {
    background-color: var(--hover-pink);
}

.create-btn-spacing {
    justify-content: space-around;
}

.logo-dashboard {
    display: flex;
}

.logo-dashboard i {
    align-self: center;
    margin-right: 1vw;
}

/* EDIT PAGE */
.edit-feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}

.edit-feedback div {
    margin-bottom: 2vw;
}

.edit-feedback input {
    border: .3vw solid var(--main-purple);
    padding: .2vw 1.5vw;
}

.edit-feedback button {
    background-color: var(--accent-purple);
    padding: 1vw 2vw;
    transition: .5s ease;
}

.edit-feedback button:hover {
    background-color: var(--hover-pink);
}

/* SINGLE BOOTCAMP/INSTRUCTOR */
.review-title {
    margin-bottom: 3vw;
}

.feedback-reviews {
    border-top: .3vw solid var(--main-purple);
    padding-top: 1vw;
    margin-top: 1vw;
}

.feedback-text {
    display: flex;
    justify-content: space-between;
}

.feedback-form {
    margin-top: 1vw;
}

.feedback-form  div {
    display: flex;
    margin-bottom: 1vw;
}

.feedback-form input, .feedback-form textarea {
    border: .3vw solid var(--main-purple);
    margin: 0 1vw;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.feedback-form input:focus, .feedback-form textarea:focus {
    outline: none;
}

.feedback-form input {
    width: 5vw;
}

.feedback-form button {
    margin-top: 3vw;
    margin-left: auto;
    margin-right: 0;
}

#bootcamp_id {
    display: none;
}

/* CREATE BOOTCAMP/INSTRUCTOR PAGE */
.add-feedback div {
    margin-bottom: 1vw;
}

#user_id {
    display: none;
}

select:hover {
    cursor: pointer;
}