/* COLOR SCHEME */
:root {
    --hover-pink: #f052ff;
    --main-purple: #af4ae8;
    --accent-purple: #995fff;
    --main-blue: #594ae8;
    --accent-blue: #5270ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: neue-kabel, sans-serif;
    font-style: normal;
}

/* FONT STYLES */
.title {
    font-size: 4.1vw;
    font-weight: 700;
}

.heading-1 {
    font-size: 3.645vw;
    font-weight: 600;
}

.heading-2 {
    font-size: 3vw;
    font-weight: 600;
}

.paragraph {
    font-size: 2.3vw;
    font-weight: 400;
}

/* COLORS */
.main-b {
    color: var(--main-blue);
}

.main-p {
    color: var(--main-purple)
}

.accent-p {
    color: var(--accent-purple)
}

.accent-b {
    color: var(--accent-blue)
}

.white {
    color: white;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* GENERAL STYLING */


body {
    background-image: linear-gradient(180deg, var(--main-blue), var(--main-purple));
    background-repeat: no-repeat;
    height: 100%;
}

button {
    border: none;
    transition: .5s ease;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    padding: 20px 100px;
}

header a {
    margin-left: auto;
    margin-right: 0;
}

header nav {
    align-self: center;
    margin-right: 0;
    margin-left: auto;
}

footer {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

/* HOMEPAGE */
main {
    z-index: -1;
}

.hero-section {
    position: sticky;
    background-image: url("/imgs/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.overlay div {
    width: 70%;
    background-image: linear-gradient(120deg, var(--main-blue), var(--main-purple));
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    margin: 6vw 4vw;
}

.hero-btn-div {
    display: flex;
    justify-content: space-around;
    margin: 3vw 5vw;
}

.hero-btn-div button {
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
}

.hero-btn-div button:hover {
    color: var(--hover-pink);
}

.top-ten {
    display: flex;
    justify-content: space-evenly;
}

.top-ten article {
    background-color: white;
    width: 35%;
    border-radius: 10px;
    padding: 2vw 3vw;
    margin-top: 5vw;
    margin-bottom: 8vw;
}

.top-ten article ol {
    margin-top: 25px;
    margin-left: 30px;
}

.top-ten article li, .top-ten article li a {
    color: var(--main-blue);
    font-size: 1.5vw;
    font-weight: 400;
    margin-bottom: 20px;
    transition: .5s ease;
}

.top-ten article li a:hover {
    color: var(--hover-pink);
}

/* LOGIN PAGE */
.login-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    margin-bottom: 6vw;
}

.login-form, .signup-form {
    background-color: white;
    border-radius: 10px;
    width: 38%;
    padding: 2vw 3.3vw;
}

.login-form div, .signup-form div {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

.login-form input, .signup-form input {
    border: 3px solid var(--main-blue);
    border-radius: 10px;
    padding: 3px 10px;
}
.login-form button, .signup-form button {
    background-color: var(--accent-purple);
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px;
    align-self: center;
}